
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
.gameplay {
  width: 80%;
  height: 520px;
  margin: 0 auto;
  border: 2px solid #ccc;
  position: relative;
  overflow: hidden;
}
 
.mario {
  position: absolute;
  bottom: 110px;
  width: 150px;
}
 
.jump {
  animation: mario_jump 1.5s ease-out;
}
 
.bowser {
  position: absolute;
  bottom: 110px;
  right: 0;
  width: 250px;
  animation: bowser_move 2s linear infinite;
}
 
.fundo {
  width: 100%;
  height: 100%;
  transition: opacity 0.4s ease;
}
 
@keyframes bowser_move {
  from {
    right: -250px;
  }
  to {
    right: 100%;
  }
}
 
@keyframes mario_jump {
  0%   { bottom: 110px; }
  25%  { bottom: 250px; }
  75%  { bottom: 250px; }
  100% { bottom: 50px; }
}